:root {
  --color-leaf-50: #FCFCFC;
  --color-leaf-100: #EFF2F0;
  --color-leaf-200: #D7DDD6;
  --color-leaf-300: #BEC8BE;
  --color-leaf-400: #A6B3A5;
  --color-leaf-500: #8F9E8C;
  --color-leaf-600: #788973;
  --color-leaf-700: #63705E;
  --color-leaf-800: #444C40;
  --color-leaf-900: #242821;
  --color-leaf-950: #141612;
  --color-leaf-base: #63705E;
  --color-storm-50: #EBEFEF;
  --color-storm-100: #DDE3E4;
  --color-storm-200: #C1CCCD;
  --color-storm-300: #A4B5B6;
  --color-storm-400: #889EA0;
  --color-storm-500: #6D8688;
  --color-storm-600: #566A6C;
  --color-storm-700: #404E4F;
  --color-storm-800: #293233;
  --color-storm-900: #121617;
  --color-storm-950: #0A0D0D;
  --color-storm-base: #121617;
  --color-sun-50: #F9EFDC;
  --color-sun-100: #F5E6CB;
  --color-sun-200: #EFD4A9;
  --color-sun-300: #E8C286;
  --color-sun-400: #E2AE64;
  --color-sun-500: #D99235;
  --color-sun-600: #B47222;
  --color-sun-700: #855219;
  --color-sun-800: #563410;
  --color-sun-900: #261707;
  --color-sun-950: #0F0903;
  --color-sun-base: #E2AE64;
  --color-rose-50: #FBF9F9;
  --color-rose-100: #F1EAE9;
  --color-rose-200: #DDCDCA;
  --color-rose-300: #CAB0AA;
  --color-rose-400: #B6938B;
  --color-rose-500: #A2766C;
  --color-rose-600: #865E55;
  --color-rose-700: #674841;
  --color-rose-800: #45302B;
  --color-rose-900: #221816;
  --color-rose-950: #110C0B;
  --color-rose-base: #674841;
  --color-brick-50: #FBF6F5;
  --color-brick-100: #F4E8E5;
  --color-brick-200: #E7CAC5;
  --color-brick-300: #DAACA4;
  --color-brick-400: #CC8F84;
  --color-brick-500: #BF7163;
  --color-brick-600: #A65344;
  --color-brick-700: #7E3F34;
  --color-brick-800: #562B23;
  --color-brick-900: #2F1713;
  --color-brick-950: #1B0D0B;
  --color-brick-base: #BF7163;
}