@import '../.mirrorful/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: theme('colors.leaf.base');
  }

  body {
    color: theme('colors.white');
    background-color: theme('colors.white');
    font-family: theme('fontFamily.body');
    font-weight: theme('fontWeight.extralight');
    // background-color: theme('colors.storm.base');
    background-color: theme('colors.leaf.950');
  }

  ::selection {
    color: theme('colors.black');
    background-color: theme('colors.leaf.base');
  }

  abbr[title] {
    border-block-end: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
}

// @layer components {

// }

// @layer utilities {

// }
