.Links {
  display: flex;
  align-items: center;
  gap: theme('spacing.6');

  @screen <sm {
    flex-direction: column;
  }
}

.Links__link {
  color: theme('colors.sun.50');

  @screen <sm {
    font-weight: theme('fontWeight.bold');
  }

  @screen md> {
    font-family: theme('fontFamily.heading');
  }

  font-size: theme('fontSize.2xl');
  line-height: theme('lineHeight.none');

  &:hover {
    color: theme('colors.white');
    text-decoration: underline;
  }

  &:focus-visible {
    outline: theme('spacing.px') solid theme('colors.white');
  }
}
