.About__root {
  overflow: clip;
}

.About {
  // intentionally blank
}

.About__prose {
  margin-inline: auto;

  strong {
    color: theme('colors.sun.base' / 0%);
    background: linear-gradient(to bottom, theme('colors.sun.200'), theme('colors.sun.400') 75%);
    background-clip: text;
    -webkit-background-clip: text;  
  }
}

.About__flair {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset-block-start: theme('spacing.6');

    width: 100vw;
    height: theme('spacing[0.5]');
    background-color: theme('colors.sun.base' / 20%);
  }

  &::before {
    inset-inline-end: calc(100% + 0.8333333em);
  }

  &::after {
    inset-inline-start: calc(100% + 0.8333333em);
  }
}
