.Header__root {
  padding-block: theme('spacing.12');

  @screen <sm {
    padding-inline: theme('spacing.6');
  }

  @screen md> {
    padding-inline: theme('spacing.12');
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: theme('spacing.6');
}

.Header__logo {
  // 
}

.Header__links {
  // 
}
