.Logo__wrapper {
  font-family: theme('fontFamily.heading');
  font-size: theme('spacing.10');
  font-weight: theme('fontWeight.black');
  letter-spacing: theme('letterSpacing.tight');
  line-height: theme('lineHeight.none');
  font-style: italic;

  // color: theme('colors.indigo.700');

  &:hover {
    // color: theme('colors.blue.950');
  }

  &:focus-visible {
    outline: theme('spacing.px') solid theme('colors.white');
  }

  display: flex;
  align-items: stretch;
  gap: theme('spacing.4');
}

.Logo__insignia {
  display: block;
  height: 1em;
}

.Logo {
  // intentionally blank
}
