.Logo {
  font-family: theme('fontFamily.heading');
  font-size: theme('spacing.10');
  font-weight: theme('fontWeight.black');
  letter-spacing: theme('letterSpacing.tight');
  line-height: theme('lineHeight.none');
  font-style: italic;

  // color: theme('colors.indigo.700');

  &:hover {
    // color: theme('colors.blue.950');
  }

  &:focus-visible {
    outline: theme('spacing.px') solid theme('colors.white');
  }

  // position: relative;
  // padding-inline-start: theme('spacing.16');

  // &::before {
  //   content: '';
  //   position: absolute;
  //   inset-block: 0;
  //   inset-inline-start: 0;

  //   width: theme('spacing.10');
  //   height: theme('spacing.10');

  //   background-image: url('/images/insignia.svg');
  //   background-size: contain;
  // }
}
