.Bg {
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Bg__image {
  position: absolute;
  z-index: -1;
  inset: 0;

  background-position: bottom center;
  background-size: theme('screens.xl.min');

  opacity: theme('opacity.30');

  mask-image:
    linear-gradient(
      to bottom,
      theme('colors.storm.base' / 100%) 40%,
      theme('colors.storm.base' / 100%) 60%,
      theme('colors.storm.base' / 0%),
    );

  animation-name: puffIn;
  animation-duration: 1s;

  @keyframes puffIn {
    0% {
      // opacity: 0;
      // transform-origin: 50% 50%;
      // transform: scale(1.1, 1.1);
      filter: blur(10px);
    }
    100% {
      // opacity: 1;
      // transform-origin: 50% 50%;
      // transform: scale(1, 1);
      filter: blur(0px);
    }
  }
}

// .Bg__shape {
//   position: absolute;
//   inset-block: 0;
//   inset-block-end: 0;
//   inset-inline-start: 50%;

//   aspect-ratio: 16 / 9;

//   display: none;

//   clip-path: polygon(50% 100%, 0 0, 100% 0);
//   background-image:
//     linear-gradient(
//       to bottom,
//       theme('colors.storm.400' / 0%),
//       theme('colors.storm.400' / 30%) calc(
//         theme('spacing.6')
//         + theme('spacing.4')
//         + theme('spacing[0.5]')
//         + theme('spacing.6')
//       ),
//       theme('colors.storm.400'),
//     );

//   mix-blend-mode: color-burn;
//   // mix-blend-mode: multiply;
// }
