@use 'sass:map';

$layers: (
  'scrollDown': 3,
  'marquee': 2,
  'hero': 1,
);

.HomePage {
  position: relative;

  @screen <sm {
    --gap: theme('spacing.24');
  }

  @screen md> {
    --gap: theme('spacing.36');
  }

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--gap);
}

.HomePage__section {

  &:first-child {
    // this is equal to the height of .Header
    padding-block-start:
      calc(
        theme('spacing.12')
        + theme('spacing.9')
        + theme('spacing.12')
      );
  }
}

.HomePage__hero {
  position: relative;
  z-index: map.get($layers, 'hero');

  margin-block-end: theme('spacing[-12]');
}

.HomePage__about {
  // 
}

.HomePage__why {
  // padding-block: var(--gap);
  // background-color: theme('colors.leaf.base');
}

.HomePage__how {
  // margin-block-start: calc(var(--gap) * -1);
  // padding-block: var(--gap);
  // background-color: theme('colors.rose.base');
}

.HomePage__contact {
  // margin-block-start: calc(var(--gap) * -1);
  // padding-block: var(--gap);
  // color: theme('colors.sun.950');
  // background-color: theme('colors.sun.base');
}
