.Wrapper__trigger {
  position: absolute !important;
  inset-block-start: 50%;
  inset-inline-end: theme('spacing.6');

  transform: translate3d(0, -50%, 0);

  --button-color: theme('colors.sun.950');
  --button-border-color: theme('colors.white');
  --button-background-color: theme('colors.white');
  
  &.open {
    --button-color: theme('colors.sun.50');
    --button-border-color: theme('colors.sun.950');
    --button-background-color: theme('colors.sun.950');
  }

  animation: fadeIn theme('transitionDuration.200') theme('transitionTimingFunction.in-out');

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.Wrapper__content {
  width: 100vw;

  padding: theme('spacing.6');
  background-color: theme('colors.sun.950');

  transform-origin: top right;
  animation: scaleIn theme('transitionDuration.200') theme('transitionTimingFunction.in-out');

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
