.Wrapper__trigger {
  position: absolute !important;
  inset-block-end: 0;
  inset-inline-end: theme('spacing.6');

  transform: translate3d(0, -50%, 0);

  --button-color: theme('colors.black');
  --button-border-color: theme('colors.black');
  --button-background-color: theme('colors.white');
  
  &.open {
    --button-color: theme('colors.white');
    --button-border-color: theme('colors.black');
    --button-background-color: theme('colors.black');
  }

  animation: fadeIn theme('transitionDuration.200') theme('transitionTimingFunction.in-out');

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.Wrapper__content {
  width: 100vw;

  padding: theme('spacing.6');

  // border-bottom: theme('spacing.1') solid theme('colors.white');
  background-color: theme('colors.black');

  transform-origin: top right;
  animation: scaleIn theme('transitionDuration.200') theme('transitionTimingFunction.in-out');

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
